
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
list.md

# production
/build
/dist
/lib

.svn

# 打包压缩文件
*.tar.gz
*.zip

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*